In [1]:
import pandas as pd
import numpy as np

data_frame = 'car sales.csv'

In [2]:
df = pd.read_csv(data_frame)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  object
 2   Customer Name  23905 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.9+ MB

In [3]:
df.head(5)

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [4]:
# Eliminate any extra spaces from column names (e.g., 'Customer Name ')
df.columns = df.columns.str.strip()

# Convert column names to snake_case (for consistency)
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Handle special cases: convert currency symbols (e.g., "$" to "usd")
df.rename(columns={"price_($)": "price_usd"}, inplace=True)

df.head(1)

,car_id,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price_usd,dealer_no,body_style,phone,dealer_region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown

In [5]:
# Convert the 'date' column to datetime format, setting invalid values to NaT
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Warn if any records could not be converted to datetime
if df['date'].isnull().sum() > 0:
    print('Warning: Some dates could not be parsed and have been set to NaT.')

# Display column info
df['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 23906 entries, 0 to 23905
Series name: date
Non-Null Count  Dtype
--------------  -----
23906 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 186.9 KB

In [6]:
# Remove duplicate records (if any) from the DataFrame
df.drop_duplicates(inplace=True)

# Display the number of missing values per column
print('Missing values per column:')
print(df.isnull().sum())

Missing values per column:
car_id           0
date             0
customer_name    1
gender           0
annual_income    0
dealer_name      0
company          0
model            0
engine           0
transmission     0
color            0
price_usd        0
dealer_no        0
body_style       0
phone            0
dealer_region    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         23906 non-null  object
 1   date           23906 non-null  datetime64[ns]
 2   customer_name  23905 non-null  object
 3   gender         23906 non-null  object
 4   annual_income  23906 non-null  int64
 5   dealer_name    23906 non-null  object
 6   company        23906 non-null  object
 7   model          23906 non-null  object
 8   engine         23906 non-null  object
 9   transmission   23906 non-null  object
 10  color          23906 non-null  object
 11  price_usd      23906 non-null  int64
 12  dealer_no      23906 non-null  object
 13  body_style     23906 non-null  object
 14  phone          23906 non-null  int64
 15  dealer_region  23906 non-null  object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 2.9+ MB